<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    <body>
        <img class="corner-logo" src="static/images/myshelfspace.png">
        <h1 id="forbidden-title">403</h1>
        <h3 id="forbidden-subtitle">Forbidden</h3>
        <p id="forbidden-message">Access to the server has been denied</p>
    </body>
</html>