<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <a href=" http://127.0.0.1:5003/product_homepage">
            <img class="corner-logo" src="static/images/myshelfspace.png">
        </a>
        <h2 id="passwordchange_form" class="change-passwordtitle">Change Your Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
       {% endwith %}

        <div class="password-info">
            <h4>Password must be at least 8 characters, must contain at least 1 digit, and at least 1 special character. </h4>
           
        </div>
        <form id="passwordchange_form" action="/update_password" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
            <label class="change-passwordlabel" for="old-password">Previous Password: </label>
            <input class="change-passwordinput" type="password" name="old-password" id="old-password" required>
            <label class="change-passwordlabel" for="updated-password">New Password: </label>
            <input class="change-passwordinput" type="password" name="updated-password" id="updated-password" minlength="8" required 
            title="Password must be at least 8 characters, must contain at least 1 digit, and at least 1 special character.">
            <button class="change-passwordsubmit" type="submit">Submit Change</button>



        </form>
        
    </body>
</html>