<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="http://127.0.0.1:5003/product_homepage">
            <img class="checkout-logoimage" src="static/images/myshelfspace.png">

        </a>

        
        <h1 class="checkout-title">Confirm Your Order</h1>
        
        <div class="checkout-box">
            
            
            {%for item in items%}
            <div class="confirmation-item">
                <p class="confirmation-itemname">{{item.book_name}} by {{item.book_author}}</p>
                <h3 class="confirmation-itemprice">${{item.book_price}}</h3>

            </div>
            {%endfor%}
            <h3 class="confirmation-total">Order Total: ${{total}}</h3>

        </div>
        <a class="confirm-buttonlink"href="http://127.0.0.1:5003/payment">
            <button class="confirmbutton">Proceed to Payment</button>

        </a>
        

    </body>
</html>