<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <img class="corner-logo" src="static/images/myshelfspace.png">
        <h1 id="forbidden-title">403</h1>
        <h3 id="forbidden-subtitle">Forbidden</h3>
        <p id="forbidden-message">Too many failed login attempts. Please <a href="http://127.0.0.1:5003/reset_page">click here</a> to reset your password. A permanent ban will be issued if you continue to get locked out, so it's important to reset your password as soon as possible. You will be able to attempt logging in again in 30 minutes.</p>
    </body>
</html>