<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

    </head>
    <body>
        <img class="corner-logo" src="static/images/myshelfspace.png">
        <h1 id="forbidden-title">429</h1>
        <h3 id="forbidden-subtitle">Too many Requests</h3>
        <p id="forbidden-message">Too many requests. You have been temporarily blocked. Please check back in 30 minutes.</p>
    </body>
    

</html>