<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <img class="corner-logo" src="static/images/myshelfspace.png">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
       {% endwith %}
        <h2 class="reset_title">Reset Your Password</h2>
        <form action="/reset_password" method="POST">
            
            <label class="reset_label" for="email">Email: </label>
            <input class="reset_input" type="email" id="email" name="email">
            <button class="reset_submit" type="submit">Continue</button>
        </form>
    </body>
</html>